.main-container {
  width: 600px;
  border: 5px solid rgb(4,255,4);
  background-color: rgb(41,0,0);
  padding: 10px;
}

.row {
  border: 5px solid rgb(255,188,188);
  height: 200px;
  margin-bottom: 10px;
}

.r1c1, .r1c2, .r2c1, .r2c2, .r3c1, .r3c2 {
  border: 2px dotted rgb(38,38,43);
}

.teal { background-color: teal; }
.thistle { background-color: thistle; }
.tomato { background-color: tomato; }
.turquoise { background-color: turquoise; }
.violet { background-color: violet; }
.yellowgreen { background-color: yellowgreen; }
